<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head th:fragment="Heading">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Personal Management</title>
  </head>
  <body>
      <h1>Create-Read-Update-Delete Example</h1>
      <ul>
          <li><a th:href="@{/listAll}">List all people</a></li>
          <li><a th:href="@{/create}">Create a person</a></li>
      </ul>
  </body>
</html>
