<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('condition')">
</head>
<body>  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Nationality</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Gender</th>
        <th scope="col">Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="person, iStat:${people}" th:classappend="${person.gender=='male'} ? table-primary : table-warning">
        <th scope="row" th:text="${iStat.index} +1"></th>
        <td th:text="${person.name}">Long</td>
        <td th:text="${person.nationality}">Vietnam</td>
        <td th:text="${person.birthdate}">1979-11-05</td>
        <td th:text="${person.gender}"></td>
        <td>
          <span th:if="${person.gender == 'female'}">🙎🏻‍♀️</span>
          <span th:unless="${person.gender == 'female'}">🙎🏻‍♂️</span>
        </td>
      </tr>     
    </tbody>
  </table>
</body>
</html>