<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Demo Thymeleaf</h1>
  <ul>
    <li><a href="/text">variable expression</a></li>
    <li><a href="/link">link expression</a></li>
    <li><a href="/about">template</a></li>
    <li><a href="/products">iteration</a></li>
    <li><a href="/condition">condition</a></li>
    <li><a href="/switch">switch</a></li>
    <li><a href="/travel">list box, checkbox, radio box</a></li>
    <li><a href="/thblock">demo th:block</a></li>
    <li><a href="/bmi">form</a></li>
    <li><a href="/hello">switch languages</a></li>
  </ul>
</body>
</html>