<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a th:href="@{/about}">Abosolute Link</a><br>
  <a th:href="@{~/topic/thymeleaf}">Relative link 1</a><br>
  <a th:href="@{topic/thymeleaf}">Relative link 2</a><br>
  <a th:href="@{/about(foo='bar',tom='jerry')}">with query string parameters</a><br>
  <a th:href="|/${dynamiclink}|">dynamic link 1</a><br>
  <a th:href="@{${dynamiclink}}">dynamic link 2</a><br>
  <a th:href="@{/page/(id=${dynamiclink})}">dynamic link 3</a><br>
</body>
</html>