<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header('jobList')"></head>
<body>
<nav th:replace="template::menu"></nav>
<br><br><br><br>
<div class="container my-3">
    <h1 class="text-center" th:text="#{job.list}">Job List</h1>
    <table class="table">
        <thead class="thead-dark">
        <th scope="col" th:text="#{id}">ID</th>
        <th scope="col" th:text="#{job_name}">Name</th>
        <th scope="col" th:text="#{action}">Action</th>
        </thead>
        <tbody>
        <tr th:each="job:${jobs}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.name}"></td>
            <td>
              <span><a th:href="@{/job/edit/{id}(id=${job.id})}" th:text="#{edit}">Edit</a></span>&nbsp;
              <span><a th:href="@{/job/delete/{id}(id=${job.id})}" th:text="#{delete}">Delete</a></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="template::footer"></footer>
</body>
</html>