<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header('Person Form')">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <form th:action="@{/post}" method="post" name="person"
                  enctype="multipart/form-data" th:object="${person}">
                <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
                <div class="form-group row">
                    <label for="fullname" class="col-sm-4 col-form-label" th:text="#{name}">Full Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="fullname" id="fullname" th:field="*{name}">
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </div>
                <div class="form-group row mt-3">
                    <label for="job" class="col-sm-4 col-form-label" th:text="#{job}">Job</label>
                    <div class="col-sm-8">
                        <select name="job" id="job" th:field="*{job}">
                            <option value="Developer">Developer</option>
                            <option value="Banker">Banker</option>
                            <option value="Taxi Driver">Taxi Driver</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Editor">Editor</option>
                            <option value="Actor">Actor</option>
                        </select>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('job')}" th:errors="*{job}">Job Error</div>
                </div>
                <div class="form-group row mt-3 mx-2">
                    <div class="form-check form-check-inline col-sm-4">
                        <input class="form-check-input" type="radio" name="gender" id="male" th:value="true" th:field="*{gender}">
                        <label class="form-check-label" for="male" th:text="#{male}">Male</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                        <input class="form-check-input" type="radio" name="gender" id="female" th:value="false" th:field="*{gender}">
                        <label class="form-check-label" for="female" th:text="#{female}">Female</label>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <label for="job" class="col-sm-4 col-form-label" th:text="#{birthday}">Birth Date</label>
                    <div class="col-sm-8">
                        <input type="date" id="birthday" name="birthDay" th:field="*{birthDay}">
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}">Birth Date error</div>
                </div>
                <div class="form-group row mt-3">
                    <label  class="col-sm-4 col-form-label" th:text="#{select_photo}">Select a photo</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" th:field="*{photo}" />
                    </div>
                    <div class="text-danger"  th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" th:text="#{upload_error}">Upload Error</div>
                </div>
                <button class="btn btn-primary mt-3" type="submit" th:text="#{submit_form}">Submit</button>

            </form>
        </div>
    </div>
</div>

<footer th:replace="template::footer"></footer>
</body>
</html>