<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header('personInfo')"></head>
<body>
<nav th:replace="template::menu"></nav>
<br><br>
<div class="container">
    <div class="row my-5">
        <div class="col-4 mx-auto">
            <img th:src="@{'/photos/' + ${person.id} + '.jpg'}" alt="Photo" class="img-fluid">
            <div class="d-flex justify-content-center">
                <a th:href="@{/person/edit/{id}(id=${person.id})}" th:text="#{edit}">Edit</a>&nbsp;&nbsp;
                <a th:href="@{/person/delete/{id}(id=${person.id})}" th:text="#{delete}">Delete</a><br>
            </div>

        </div>
        <div class="col-2 mx-auto ">
            <h6 th:text="#{name}">Full Name</h6>
            <p th:text="${person.name}"></p>
        </div>
        <div class="col-2 mx-auto ">
            <h6 th:text="#{birthday}">Birthday</h6>
            <p th:text="${person.birthDay}"></p>
        </div>
        <div class="col-2 mx-auto">
            <h6 th:text="#{job}">Job</h6>
            <p th:text="${person.job}"></p>
        </div>
        <div class="col-2 mx-auto">
            <h6 th:text="#{gender}">Gender</h6>
            <p th:if="${person.gender}" th:text="#{male}">Male</p>
            <p th:unless="${person.gender}" th:text="#{female}">Female</p>
        </div>
    </div>
    <footer th:replace="template::footer"></footer>
</div>
</body>
</html>